*{
	box-sizing: border-box;
}
p {
	padding:0px;
	margin:0px;
	bottom: 30px;
	left: 90px;
	position: relative;
	color:white;
}
img {
	border-color: gray;
}
.padre {
	margin:30px;
}
.caja {
	display:inline-block;
	margin: 15px;
	margin-bottom: 0px;
	margin-top: 0px;	
}
.linea {
	width: 80px;
	height:5px;
	background-color: black;
}
a.opacidad:hover {
	opacity:0.5;

}


